<div class="content">
    <div class="card-container">
        <a href="https://plexserver.thefoggytree.com" target="_blank">
            <div class="card">

                <img src="{{ url_for('static', filename='images/plex-icon.png') }}" alt="Plex">
                <p>Plex Server</p>
            </div>
        </a>
        <a href="/overseerr" target="_blank">
            <div class="card">
                <img src="{{ url_for('static', filename='images/overseerr-icon.png') }}" alt="Overseerr">
                <p>Overseerr</p>
            </div>
        </a>
    </div>
</div>
<!--  -->

