<div class="content">
    <div class="card-container">
        <a href="https://sonarr4k.thefoggytree.com" target="_blank">
            <div class="card">
                <img src="{{ url_for('static', filename='images/sonarrIcon.png') }}" alt="Sonarr Icon">
                <p>Sonarr 4k <br> Instance</p>
            </div>
        </a>
        <a href="https://sonarrLow.thefoggytree.com" target="_blank">
            <div class="card">
                <img src="{{ url_for('static', filename='images/sonarrIcon.png') }}" alt="Sonarr Icon">
                <p>Sonarr HD/SD <br> Instance</p>
            </div>
        </a>
        <a href="https://radarr4k.thefoggytree.com" target="_blank">
            <div class="card">
                <img src="{{ url_for('static', filename='images/radarrIcon.png') }}" alt="Radarr Icon">
                <p>Radarr 4k <br> Instance</p>
            </div>
        </a>
        <a href="https://radarrLow.thefoggytree.com" target="_blank">
            <div class="card">
                <img src="{{ url_for('static', filename='images/radarrIcon.png') }}" alt="Radarr Icon">
                <p>Radarr HD/SD <br> Instance</p>
            </div>
        </a>
        <a href="http://192.168.0.44:8080/" target="_blank">
            <div class="card">
                <img src="{{ url_for('static', filename='images/qbittorrentIcon.png') }}" alt="qBitTorrent Icon">
                <p><br>qBitTorrent </p>
            </div>
        </a>
        <a href="http://192.168.0.44:9696/" target="_blank">
            <div class="card">
                <img src="{{ url_for('static', filename='images/prowlarrIcon.png') }}" alt="Prowlarr Icon">
                <p><br>Prowlarr </p>
            </div>
        </a>
    </div>
</div>
